*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

.container{
    padding: 20px;
    background: linear-gradient(45 deg,#110128,#121111,#0a022d,#140558,#211267);
    background-size: cover;
    position: relative;
    

 
}

.container p{
       font-size: 20px;
       background: linear-gradient(to right,#e4e0de,#feb47b);
       -webkit-background-clip: text;
       color:transparent;
       padding: 10px;
       position: relative;

}
.background{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:linear-gradient(45deg, rgb(37, 5, 83),rgb(37, 5, 83),#050108,black,rgb(37, 5, 83),rgb(18, 15, 30)) ;
    z-index: -1;

}
.content{
    position: relative;
    z-index: 1;
    font-family: cursive;
}
p{
    text-align: center;
    font-size: 120px;
    color:rgba(237, 220, 218, 0.763);
     animation-name: textzoom;
     animation-duration: 3s;
     animation-timing-function: linear;
     animation-iteration-count:infinite;
     animation-direction: alternate;
     font-family: cursive;
   }

    
  
  
  
  @keyframes textzoom{
 0% {
                font-size: 0px;
  }
  100%{
      font-size: 260px;

  }
  }

   
  
  